**Машинное обучение Урок 2**

1 *Самостоятельно повторить tfidf (документация https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html)

In [ ]:
import pandas as pd

In [ ]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1zrdSHN2tq_Hj3YdbwlM3jk87Oct42XpR' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1zrdSHN2tq_Hj3YdbwlM3jk87Oct42XpR" -O articles.csv && rm -rf /tmp/cookies.txt

--2022-04-13 06:18:49--  https://docs.google.com/uc?export=download&confirm=t&id=1zrdSHN2tq_Hj3YdbwlM3jk87Oct42XpR
Resolving docs.google.com (docs.google.com)... 142.250.152.100, 142.250.152.102, 142.250.152.139, ...
Connecting to docs.google.com (docs.google.com)|142.250.152.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0s-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/jmedj5piisi25n1icfcinphmieoeo421/1649830725000/14904333240138417226/*/1zrdSHN2tq_Hj3YdbwlM3jk87Oct42XpR?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-13 06:18:49--  https://doc-0s-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/jmedj5piisi25n1icfcinphmieoeo421/1649830725000/14904333240138417226/*/1zrdSHN2tq_Hj3YdbwlM3jk87Oct42XpR?e=download
Resolving doc-0s-c0-docs.googleusercontent.com (doc-0s-c0-docs.googleusercontent.com)... 74.125.201.132, 2607:f8b0:4001:c01::84
Connecting to doc-0s-c0-docs.googleusercontent.com (doc-0s-c0-docs.googleusercontent.com)|74.125.201.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 145159860 (138M) [text/csv]
Saving to: ‘articles.csv’

articles.csv        100%[===================>] 138.43M   171MB/s    in 0.8s

2022-04-13 06:18:50 (171 MB/s) - ‘articles.csv’ saved [145159860/145159860]

In [ ]:
!wget 'https://drive.google.com/uc?export=download&id=1Q97K9eGrvpbS4ut5CphZa--gJDRqQp2a' -O users_articles.csv

--2022-04-13 06:21:07--  https://drive.google.com/uc?export=download&id=1Q97K9eGrvpbS4ut5CphZa--gJDRqQp2a
Resolving drive.google.com (drive.google.com)... 142.250.152.100, 142.250.152.113, 142.250.152.138, ...
Connecting to drive.google.com (drive.google.com)|142.250.152.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-04-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ifgpo6jcqhh598c7rtbbkbfgap0b2qcv/1649830800000/14904333240138417226/*/1Q97K9eGrvpbS4ut5CphZa--gJDRqQp2a?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-13 06:21:08--  https://doc-04-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ifgpo6jcqhh598c7rtbbkbfgap0b2qcv/1649830800000/14904333240138417226/*/1Q97K9eGrvpbS4ut5CphZa--gJDRqQp2a?e=download
Resolving doc-04-c0-docs.googleusercontent.com (doc-04-c0-docs.googleusercontent.com)... 74.125.201.132, 2607:f8b0:4001:c01::84
Connecting to doc-04-c0-docs.googleusercontent.com (doc-04-c0-docs.googleusercontent.com)|74.125.201.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 434166 (424K) [text/csv]
Saving to: ‘users_articles.csv’

users_articles.csv  100%[===================>] 423.99K  --.-KB/s    in 0.004s

2022-04-13 06:21:08 (109 MB/s) - ‘users_articles.csv’ saved [434166/434166]

In [ ]:
news = pd.read_csv("articles.csv")
print(news.shape)
news.head(3)

(27000, 2)

   doc_id                                              title
0       6  Заместитель председателяnправительства РФnСерг...
1    4896  Матч 1/16 финала Кубка России по футболу был п...
2    4897  Форвард «Авангарда» Томаш Заборский прокоммент...

In [ ]:
news.iloc[0]['title']

'Заместитель председателяnправительства РФnСергейnИвановnизбран председателем советаnПБК ЦСКАn. Как сообщаетnпресс-службаnармейцев, такое решение было единогласно принято на первом заседании совета клуба. Основной функцией этого органа будет обсуждение текущего состояния, планирование и утверждение стратегии развития клуба на ближайшую перспективу.nnВ состав совета вошли:nГеоргий Полтавченкоn(полномочный представитель президента в Центральном федеральном округе),nАлексей Седовn(генерал-полковник, начальник службы по защите конституционного строя и борьбе с терроризмомnФСБ РФn),nАлександр Новакn(заместитель министра финансов РФ),nВячеслав Полтавцевn(заместитель генерального директора, руководитель блока по взаимодействию с органами власти, социальной и корпоративной политикиnГМК «Норильский никель»n),nЛеонид Исаковичn(генеральный директор ООО «УК «Спортивные проекты»),nОльга Плешаковаn(генеральный директорn«Трансаэро»n),nАлександр Провоторовn, (генеральный директорnОАО «Ростелеком»n), Андрей Лопатов (экс-игрок ЦСКА, чемпион мира, трехкратный чемпион Европы по баскетболу, председатель правленияnбанка «Клиентский»n),nАндрей Ватутинn(президент ПБК ЦСКА).'

In [ ]:
users = pd.read_csv("users_articles.csv")
users.head(3)

       uid                                        articles
0  u105138  [293672, 293328, 293001, 293622, 293126, 1852]
1  u108690          [3405, 1739, 2972, 1158, 1599, 322665]
2  u108339          [1845, 2009, 2356, 1424, 2939, 323389]

In [ ]:
!pip install razdel pymorphy2 pyLDAvis

Collecting razdel
  Downloading razdel-0.5.0-py3-none-any.whl (21 kB)
Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.3 MB/s
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.1.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 11.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 28.0 MB/s
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (57.4.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (0.16.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (2.11.3)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (0.0)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (2.8.1)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.3.5)
Collecting funcy
  Downloading funcy-1.17-py2.py3-none-any.whl (33 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.1.0)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (3.6.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.4.1)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.21.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyLDAvis) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyLDAvis) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyLDAvis) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->pyLDAvis) (5.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->pyLDAvis) (2.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from numexpr->pyLDAvis) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->numexpr->pyLDAvis) (3.0.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->pyLDAvis) (3.1.0)
Building wheels for collected packages: pyLDAvis
  Building wheel for pyLDAvis (PEP 517) ... done
  Created wheel for pyLDAvis: filename=pyLDAvis-3.3.1-py2.py3-none-any.whl size=136898 sha256=beb3dae09df2628810417e623fed3b6cd56d654a84bf059d502b08c0001f5508
  Stored in directory: /root/.cache/pip/wheels/c9/21/f6/17bcf2667e8a68532ba2fbf6d5c72fdf4c7f7d9abfa4852d2f
Successfully built pyLDAvis
Installing collected packages: pymorphy2-dicts-ru, funcy, dawg-python, razdel, pymorphy2, pyLDAvis
Successfully installed dawg-python-0.7.2 funcy-1.17 pyLDAvis-3.3.1 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844 razdel-0.5.0

In [ ]:
# предобработка текстов
import re
import numpy as np
from gensim.corpora.dictionary import Dictionary
from razdel import tokenize  # сегментация русскоязычного текста на токены и предложения https://github.com/natasha/razdel
import pymorphy2  # Морфологический анализатор

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stopword_ru = stopwords.words('russian')
print(len(stopword_ru))

151

In [ ]:
stopword_ru[:10]

['и', 'в', 'во', 'не', 'что', 'он', 'на', 'я', 'с', 'со']

In [ ]:
!wget 'https://drive.google.com/uc?export=download&id=17wVn5YPpMjHToctGgff_KfSeWcIIlf7c' -O stopwords.txt

--2022-04-13 06:29:31--  https://drive.google.com/uc?export=download&id=17wVn5YPpMjHToctGgff_KfSeWcIIlf7c
Resolving drive.google.com (drive.google.com)... 142.250.152.113, 142.250.152.102, 142.250.152.138, ...
Connecting to drive.google.com (drive.google.com)|142.250.152.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0s-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/7j5e6i2ibhgebcu6r09jehku7meuj1k5/1649831325000/14904333240138417226/*/17wVn5YPpMjHToctGgff_KfSeWcIIlf7c?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-13 06:29:31--  https://doc-0s-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/7j5e6i2ibhgebcu6r09jehku7meuj1k5/1649831325000/14904333240138417226/*/17wVn5YPpMjHToctGgff_KfSeWcIIlf7c?e=download
Resolving doc-0s-c0-docs.googleusercontent.com (doc-0s-c0-docs.googleusercontent.com)... 74.125.201.132, 2607:f8b0:4001:c01::84
Connecting to doc-0s-c0-docs.googleusercontent.com (doc-0s-c0-docs.googleusercontent.com)|74.125.201.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5368 (5.2K) [text/plain]
Saving to: ‘stopwords.txt’

stopwords.txt       100%[===================>]   5.24K  --.-KB/s    in 0s

2022-04-13 06:29:32 (15.0 MB/s) - ‘stopwords.txt’ saved [5368/5368]

In [ ]:
with open('stopwords.txt') as f:
    additional_stopwords = [w.strip() for w in f.readlines() if w]
    
stopword_ru += additional_stopwords
len(stopword_ru)

776

In [ ]:
stopword_ru[200:210]

['ни', 'быть', 'был', 'него', 'до', 'вас', 'нибудь', 'опять', 'уж', 'вам']

In [ ]:
def clean_text(text):
    '''
    очистка текста
    
    на выходе очищеный текст
    '''
    if not isinstance(text, str):
        text = str(text)
    
    text = text.lower()
    text = text.strip('\n').strip('\r').strip('\t')
    text = re.sub("-\s\r\n\|-\s\r\n|\r\n", '', str(text))

    text = re.sub("[0-9]|[-—.,:;_%©«»?*!@#№$^•·&()]|[+=]|[[]|[]]|[/]|", '', text)
    text = re.sub(r"\r\n\t|\n|\\s|\r\t|\\n", ' ', text)
    text = re.sub(r'[\xad]|[\s+]', ' ', text.strip())
    text = re.sub('n', ' ', text)
    
    return text

cache = {}
morph = pymorphy2.MorphAnalyzer()

def lemmatization(text):    
    '''
    лемматизация
        [0] если зашел тип не `str` делаем его `str`
        [1] токенизация предложения через razdel
        [2] проверка есть ли в начале слова '-'
        [3] проверка токена с одного символа
        [4] проверка есть ли данное слово в кэше
        [5] лемматизация слова
        [6] проверка на стоп-слова

    на выходе лист лемматизированых токенов
    '''

    # [0]
    if not isinstance(text, str):
        text = str(text)
    
    # [1]
    tokens = list(tokenize(text))
    words = [_.text for _ in tokens]

    words_lem = []
    for w in words:
        if w[0] == '-': # [2]
            w = w[1:]
        if len(w) > 1: # [3]
            if w in cache: # [4]
                words_lem.append(cache[w])
            else: # [5]
                temp_cach = cache[w] = morph.parse(w)[0].normal_form
                words_lem.append(temp_cach)
    
    words_lem_without_stopwords = [i for i in words_lem if not i in stopword_ru] # [6]
    
    return words_lem_without_stopwords

In [ ]:
morph = pymorphy2.MorphAnalyzer()
morph.parse('сбегали')[0].normal_form

'сбегать'

In [ ]:
news['title'].iloc[:2].apply(lambda x: clean_text(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: Possible nested set at position 39

0    заместитель председателя правительства рф серг...
1    матч  финала кубка россии по футболу был приос...
Name: title, dtype: object

In [ ]:
from tqdm import tqdm
tqdm.pandas()

In [ ]:
news['title'] = news['title'].progress_apply(lambda x: clean_text(x))

100%|██████████| 27000/27000 [00:27<00:00, 969.11it/s]

In [ ]:
news['title'].iloc[:10]

0    заместитель председателя правительства рф серг...
1    матч  финала кубка россии по футболу был приос...
2    форвард авангарда томаш заборский прокомментир...
3    главный тренер кубани юрий красножан прокоммен...
4    решением попечительского совета владивостокско...
5    ио главного тренера вячеслав буцаев прокоммент...
6    запорожский металлург дома потерпел разгромное...
7    сборная сша одержала победу над австрией со сч...
8    бывший защитник сборной россии дарюс каспарайт...
9    полузащитник цска зоран тошич после победы над...
Name: title, dtype: object

In [ ]:
news['title'].iloc[:2].apply(lambda x: lemmatization(x))

0    [заместитель, председатель, правительство, рф,...
1    [матч, финал, кубок, россия, футбол, приостано...
Name: title, dtype: object

In [ ]:
news['title'] = news['title'].progress_apply(lambda x: lemmatization(x))

100%|██████████| 27000/27000 [04:39<00:00, 96.74it/s]

In [ ]:
# сформируем список наших текстов
texts = list(news['title'].values)

# Создадим корпус из списка с текстами
common_dictionary = Dictionary(texts)
common_corpus = [common_dictionary.doc2bow(text) for text in texts]

In [ ]:
N_topic = 20

In [ ]:
%%time
from gensim.models import LdaModel

# Обучаем модель на корпусе
lda = LdaModel(common_corpus, num_topics=N_topic, id2word=common_dictionary)#, passes=10)

CPU times: user 48.7 s, sys: 23.1 s, total: 1min 11s
Wall time: 46.4 s

In [ ]:
from gensim.test.utils import datapath

In [ ]:
# Сохраняем модель на диск
temp_file = datapath("model.lda")
lda.save(temp_file)

In [ ]:
# Загружаем обученную модель с диска
lda = LdaModel.load(temp_file)

In [ ]:
# Создаем новый корпус документов, которые раньше не видели
other_texts = list(news['title'].iloc[:3])
other_corpus = [common_dictionary.doc2bow(text) for text in other_texts]

unseen_doc = other_corpus[2]
print(other_texts[2])
lda[unseen_doc]

['форвард', 'авангард', 'томаш', 'заборский', 'прокомментировать', 'игра', 'команда', 'матч', 'чемпионат', 'кхл', 'против', 'атланта', 'плохой', 'матч', 'нижний', 'новгород', 'против', 'торпедо', 'настраиваться', 'первый', 'минута', 'включиться', 'заборский', 'получиться', 'забросить', 'быстрый', 'гол', 'задать', 'хороший', 'темп', 'поединок', 'играть', 'хороший', 'сторона', 'пять', 'очко', 'выезд', 'девять', 'хороший']

[(4, 0.06250678),
 (13, 0.12585472),
 (14, 0.03924779),
 (16, 0.3158037),
 (17, 0.43783703)]

In [ ]:
x = lda.show_topics(num_topics=N_topic, num_words=7, formatted=False)
topics_words = [(tp[0], [wd[0] for wd in tp[1]]) for tp in x]

# Печатаем только слова
for topic, words in topics_words:
    print(f"topic_{topic}: " + " ".join(words))

topic_0: сша россия санкция снижение российский власть американский
topic_1: млрд всё рынок научный уровень рост эксперт
topic_2: учёный проект животное новый университет история первый
topic_3: учёный статья население опубликовать область регион район
topic_4: исследование писать операция день обнаружить глава государство
topic_5: российский корабль роскосмос нефть крым валюта россия
topic_6: журнал луна мозг товар рейс способность общество
topic_7: ракета самолёт полёт взрыв произойти борт турция
topic_8: тело смерть космос конкурс мкс жизнь первый
topic_9: ребёнок исследование россия данные всё российский ru
topic_10: газ гражданин погибнуть исследование фестиваль дональд россия
topic_11: миссия эксперимент британский млн солнце астроном планета
topic_12: военный космический самолёт аппарат американский система война
topic_13: наука москва россия технология медведев активность доклад
topic_14: украина украинский пациент поверхность киев восток порошенко
topic_15: путин станция выяснить владимир земля россия автор
topic_16: земля убийство астероид женщина px следователь обвинение
topic_17: век выяснить затмение сон перевод игра тур
topic_18: рак белый болезнь сша километр учёный сотрудник
topic_19: рубль банк млн руб тыс фонд размер

In [ ]:
def get_lda_vector(lda, text):
    unseen_doc = common_dictionary.doc2bow(text)
    lda_tuple = lda[unseen_doc]

    not_null_topics = dict(zip([i[0] for i in lda_tuple], [i[1] for i in lda_tuple]))

    output_vector = []
    for i in range(N_topic):
        if i not in not_null_topics:
            output_vector.append(0)
        else:
            output_vector.append(not_null_topics[i])
    return np.array(output_vector)

In [ ]:
get_lda_vector(lda, news['title'].iloc[0])

array([0.        , 0.02683554, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06468056, 0.67943156,
       0.        , 0.        , 0.        , 0.1819008 , 0.01088418,
       0.        , 0.        , 0.03012705, 0.        , 0.        ])

In [ ]:
%%time
topic_matrix = pd.DataFrame([get_lda_vector(lda, text) for text in news['title'].values])
topic_matrix.columns = [f'topic_{i}' for i in range(N_topic)]
topic_matrix['doc_id'] = news['doc_id'].values
topic_matrix = topic_matrix[['doc_id']+[f'topic_{i}' for i in range(N_topic)]]
topic_matrix.head(5)

CPU times: user 40.6 s, sys: 21.6 s, total: 1min 2s
Wall time: 42.1 s

In [ ]:
topic_matrix.head()

,doc_id,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19
0,6,0.0,0.026837,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.064681,...,0.0,0.0,0.0,0.181896,0.010884,0.0,0.000000,0.030128,0.0,0.000000
1,4896,0.0,0.000000,0.000000,0.036164,0.000000,0.0,0.0,0.560043,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.320133,0.0,0.064147
2,4897,0.0,0.000000,0.000000,0.000000,0.062486,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.125843,0.039361,0.0,0.315760,0.437800,0.0,0.000000
3,4898,0.0,0.306135,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.083323,...,0.0,0.0,0.0,0.000000,0.025567,0.0,0.278702,0.172320,0.0,0.000000
4,4899,0.0,0.000000,0.049021,0.000000,0.114706,0.0,0.0,0.000000,0.475678,...,0.0,0.0,0.0,0.338974,0.000000,0.0,0.000000,0.000000,0.0,0.000000

In [ ]:
users.head(3)

       uid                                        articles
0  u105138  [293672, 293328, 293001, 293622, 293126, 1852]
1  u108690          [3405, 1739, 2972, 1158, 1599, 322665]
2  u108339          [1845, 2009, 2356, 1424, 2939, 323389]

In [ ]:
doc_dict = dict(zip(topic_matrix['doc_id'].values, topic_matrix[[f'topic_{i}' for i in range(N_topic)]].values))

In [ ]:
doc_dict[293672]

array([0.        , 0.        , 0.44507459, 0.        , 0.04094803,
       0.        , 0.        , 0.        , 0.        , 0.23826389,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0959348 , 0.02501054, 0.14076813])

In [ ]:
def get_user_embedding(user_articles_list, doc_dict):
    user_articles_list = eval(user_articles_list)
    user_vector = np.array([doc_dict[doc_id] for doc_id in user_articles_list])
    # print(user_vector)
    user_vector = np.mean(user_vector, 0)  # можно не среднее
    return user_vector

In [ ]:
user_articles_list = users['articles'].iloc[33]

get_user_embedding(user_articles_list, doc_dict)

array([0.21043663, 0.07476054, 0.01285115, 0.04633121, 0.0851408 ,
       0.05327034, 0.00417793, 0.01361754, 0.01922327, 0.04225348,
       0.02928926, 0.        , 0.13482047, 0.00192112, 0.00421501,
       0.07248175, 0.09158572, 0.        , 0.05890628, 0.03337569])

In [ ]:
%%time
user_embeddings = pd.DataFrame([i for i in users['articles'].apply(lambda x: get_user_embedding(x, doc_dict))])
user_embeddings.columns = [f'topic_{i}' for i in range(N_topic)]
user_embeddings['uid'] = users['uid'].values
user_embeddings = user_embeddings[['uid']+[f'topic_{i}' for i in range(N_topic)]]
user_embeddings.head(3)

CPU times: user 454 ms, sys: 10.8 ms, total: 464 ms
Wall time: 474 ms

In [ ]:
user_embeddings.head()

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19
0,u105138,0.062361,0.024243,0.200476,0.073791,0.130486,0.000000,0.003808,0.046435,0.038949,...,0.008729,0.014868,0.037288,0.004121,0.053845,0.084650,0.008843,0.059917,0.006347,0.073455
1,u108690,0.092626,0.058255,0.015736,0.133772,0.126577,0.043336,0.011858,0.000000,0.018617,...,0.018186,0.014756,0.007331,0.016768,0.107222,0.053442,0.027239,0.008620,0.023631,0.080188
2,u108339,0.070340,0.043362,0.040255,0.059717,0.211620,0.039305,0.002650,0.052222,0.019540,...,0.127662,0.003403,0.022187,0.035499,0.006647,0.016755,0.058003,0.001788,0.006472,0.085511
3,u101138,0.000000,0.233960,0.006925,0.002292,0.014848,0.017023,0.000000,0.122060,0.030128,...,0.021046,0.012794,0.053766,0.008287,0.039044,0.058068,0.000000,0.332404,0.008245,0.000000
4,u108248,0.021828,0.055873,0.091481,0.057183,0.199028,0.053729,0.037681,0.005228,0.048456,...,0.011332,0.017866,0.002535,0.080279,0.055437,0.092238,0.019102,0.010623,0.008561,0.064363

In [ ]:
!wget 'https://drive.google.com/uc?export=download&id=1nWKteQgEr9Rl8CwTRY7N2f7igevNH7oK' -O users_churn.csv

--2022-04-13 06:58:59--  https://drive.google.com/uc?export=download&id=1nWKteQgEr9Rl8CwTRY7N2f7igevNH7oK
Resolving drive.google.com (drive.google.com)... 142.250.152.138, 142.250.152.113, 142.250.152.101, ...
Connecting to drive.google.com (drive.google.com)|142.250.152.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0k-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sp3238tukpr1vkdqm7c3lj9op6h1fsfb/1649833125000/14904333240138417226/*/1nWKteQgEr9Rl8CwTRY7N2f7igevNH7oK?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-13 06:58:59--  https://doc-0k-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sp3238tukpr1vkdqm7c3lj9op6h1fsfb/1649833125000/14904333240138417226/*/1nWKteQgEr9Rl8CwTRY7N2f7igevNH7oK?e=download
Resolving doc-0k-c0-docs.googleusercontent.com (doc-0k-c0-docs.googleusercontent.com)... 74.125.202.132, 2607:f8b0:4001:c06::84
Connecting to doc-0k-c0-docs.googleusercontent.com (doc-0k-c0-docs.googleusercontent.com)|74.125.202.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80010 (78K) [text/csv]
Saving to: ‘users_churn.csv’

users_churn.csv     100%[===================>]  78.13K  --.-KB/s    in 0.001s

2022-04-13 06:58:59 (93.2 MB/s) - ‘users_churn.csv’ saved [80010/80010]

In [ ]:
target = pd.read_csv("users_churn.csv")
target.head(3)

       uid  churn
0  u107120      0
1  u102277      0
2  u102444      0

In [ ]:
X = pd.merge(user_embeddings, target, 'left')
X.head(3)

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19,churn
0,u105138,0.062361,0.024243,0.200476,0.073791,0.130486,0.000000,0.003808,0.046435,0.038949,...,0.014868,0.037288,0.004121,0.053845,0.084650,0.008843,0.059917,0.006347,0.073455,0
1,u108690,0.092626,0.058255,0.015736,0.133772,0.126577,0.043336,0.011858,0.000000,0.018617,...,0.014756,0.007331,0.016768,0.107222,0.053442,0.027239,0.008620,0.023631,0.080188,1
2,u108339,0.070340,0.043362,0.040255,0.059717,0.211620,0.039305,0.002650,0.052222,0.019540,...,0.003403,0.022187,0.035499,0.006647,0.016755,0.058003,0.001788,0.006472,0.085511,1

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [ ]:
# разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(X[[f'topic_{i}' for i in range(N_topic)]], 
                                                    X['churn'], random_state=0)

In [ ]:
model = LogisticRegression()
# обучим 
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# наши прогнозы для тестовой выборки
preds = model.predict_proba(X_test)[:, 1]
preds[:10]

array([0.08416167, 0.05487082, 0.49189423, 0.28798896, 0.12438954,
       0.03030951, 0.07049989, 0.03864506, 0.11488444, 0.11104816])

In [ ]:
metrics_df = pd.DataFrame(columns=['model', 'thresh', 'F-Score', 'Precision', 'Recall', 'ROC AUC'])
metrics_df

Empty DataFrame
Columns: [model, thresh, F-Score, Precision, Recall, ROC AUC]
Index: []

In [ ]:
from sklearn.metrics import (f1_score, roc_auc_score, precision_score,
                             classification_report, precision_recall_curve, confusion_matrix)

In [ ]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)
fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.25957103453156094, F-Score=0.668, Precision=0.604, Recall=0.747

In [ ]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.9378475492761207

In [ ]:
metrics_df = metrics_df.append({
    'model': FUNC.__name__,
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

metrics_df

  model    thresh   F-Score  Precision    Recall   ROC AUC
0  mean  0.259571  0.667883    0.60396  0.746939  0.937848

2. Модифицировать код функции get_user_embedding таким образом, чтобы считалось не среднее (как в примере np.mean), а медиана. Применить такое преобразование к данным, обучить модель прогнозирования оттока и посчитать метрики качества и сохранить их: roc auc, precision/recall/f_score (для 3 последних - подобрать оптимальный порог)

In [ ]:
FUNC = np.median

In [ ]:
%%time
user_embeddings = pd.DataFrame([i for i in users['articles'].apply(lambda x: get_user_embedding(x, doc_dict))])
user_embeddings.columns = [f'topic_{i}' for i in range(N_topic)]
user_embeddings['uid'] = users['uid'].values
user_embeddings = user_embeddings[['uid']+[f'topic_{i}' for i in range(N_topic)]]
user_embeddings.head(3)

CPU times: user 633 ms, sys: 4.4 ms, total: 637 ms
Wall time: 676 ms

In [ ]:
X = pd.merge(user_embeddings, target, 'left')
X.head(3)

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19,churn
0,u105138,0.062361,0.024243,0.200476,0.073791,0.130486,0.000000,0.003808,0.046435,0.038949,...,0.014868,0.037288,0.004121,0.053845,0.084650,0.008843,0.059917,0.006347,0.073455,0
1,u108690,0.092626,0.058255,0.015736,0.133772,0.126577,0.043336,0.011858,0.000000,0.018617,...,0.014756,0.007331,0.016768,0.107222,0.053442,0.027239,0.008620,0.023631,0.080188,1
2,u108339,0.070340,0.043362,0.040255,0.059717,0.211620,0.039305,0.002650,0.052222,0.019540,...,0.003403,0.022187,0.035499,0.006647,0.016755,0.058003,0.001788,0.006472,0.085511,1

In [ ]:
# разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(X[[f'topic_{i}' for i in range(N_topic)]], 
                                                    X['churn'], random_state=0)

In [ ]:
model = LogisticRegression()
# обучим 
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# наши прогнозы для тестовой выборки
preds = model.predict_proba(X_test)[:, 1]
preds[:10]

array([0.08416167, 0.05487082, 0.49189423, 0.28798896, 0.12438954,
       0.03030951, 0.07049989, 0.03864506, 0.11488444, 0.11104816])

In [ ]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)
fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.25957103453156094, F-Score=0.668, Precision=0.604, Recall=0.747

In [ ]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.9378475492761207

In [ ]:
metrics_df = metrics_df.append({
    'model': FUNC.__name__,
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

metrics_df

      model    thresh   F-Score  Precision    Recall   ROC AUC
0      mean  0.259571  0.667883    0.60396  0.746939  0.937848
1    median  0.259571  0.667883    0.60396  0.746939  0.937848
2    median  0.259571  0.667883    0.60396  0.746939  0.937848
3  __main__  0.259571  0.667883    0.60396  0.746939  0.937848
4  __main__  0.259571  0.667883    0.60396  0.746939  0.937848
5    median  0.259571  0.667883    0.60396  0.746939  0.937848
6    median  0.259571  0.667883    0.60396  0.746939  0.937848
7    median  0.259571  0.667883    0.60396  0.746939  0.937848

3. Повторить п.2, но используя уже не медиану, а max

In [ ]:
FUNC = np.max

In [ ]:
%%time
user_embeddings = pd.DataFrame([i for i in users['articles'].apply(lambda x: get_user_embedding(x, doc_dict))])
user_embeddings.columns = [f'topic_{i}' for i in range(N_topic)]
user_embeddings['uid'] = users['uid'].values
user_embeddings = user_embeddings[['uid']+[f'topic_{i}' for i in range(N_topic)]]
user_embeddings.head(3)

CPU times: user 656 ms, sys: 11.9 ms, total: 667 ms
Wall time: 774 ms

In [ ]:
X = pd.merge(user_embeddings, target, 'left')
X.head(3)

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19,churn
0,u105138,0.062361,0.024243,0.200476,0.073791,0.130486,0.000000,0.003808,0.046435,0.038949,...,0.014868,0.037288,0.004121,0.053845,0.084650,0.008843,0.059917,0.006347,0.073455,0
1,u108690,0.092626,0.058255,0.015736,0.133772,0.126577,0.043336,0.011858,0.000000,0.018617,...,0.014756,0.007331,0.016768,0.107222,0.053442,0.027239,0.008620,0.023631,0.080188,1
2,u108339,0.070340,0.043362,0.040255,0.059717,0.211620,0.039305,0.002650,0.052222,0.019540,...,0.003403,0.022187,0.035499,0.006647,0.016755,0.058003,0.001788,0.006472,0.085511,1

In [ ]:
# разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(X[[f'topic_{i}' for i in range(N_topic)]], 
                                                    X['churn'], random_state=0)

In [ ]:
model = LogisticRegression()
# обучим 
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# наши прогнозы для тестовой выборки
preds = model.predict_proba(X_test)[:, 1]
preds[:10]

array([0.08416167, 0.05487082, 0.49189423, 0.28798896, 0.12438954,
       0.03030951, 0.07049989, 0.03864506, 0.11488444, 0.11104816])

In [ ]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)
fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.25957103453156094, F-Score=0.668, Precision=0.604, Recall=0.747

In [ ]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.9378475492761207

In [ ]:
metrics_df = metrics_df.append({
    'model': FUNC.__name__,
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

metrics_df

      model    thresh   F-Score  Precision    Recall   ROC AUC
0      mean  0.259571  0.667883    0.60396  0.746939  0.937848
1    median  0.259571  0.667883    0.60396  0.746939  0.937848
2    median  0.259571  0.667883    0.60396  0.746939  0.937848
3  __main__  0.259571  0.667883    0.60396  0.746939  0.937848
4  __main__  0.259571  0.667883    0.60396  0.746939  0.937848
5    median  0.259571  0.667883    0.60396  0.746939  0.937848
6    median  0.259571  0.667883    0.60396  0.746939  0.937848
7    median  0.259571  0.667883    0.60396  0.746939  0.937848
8  __main__  0.259571  0.667883    0.60396  0.746939  0.937848
9      amax  0.259571  0.667883    0.60396  0.746939  0.937848

4. *Воспользовавшись полученными знаниями из п.1, повторить пункт 2, но уже взвешивая новости по tfidf (взяв список новостей пользователя)

подсказка 1: нужно получить веса-коэффициенты для каждого документа. Не все документы одинаково информативны и несут какой-то положительный сигнал
подсказка 2: нужен именно idf, как вес.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
users['articles_str'] = users['articles'].apply(lambda x: x.replace('[','').replace(']', '').replace(',', ''))

users['articles_str'].iloc[0]

'293672 293328 293001 293622 293126 1852'

In [ ]:
tfidf = TfidfVectorizer()
tfidf.fit(users['articles_str'])

TfidfVectorizer()

In [ ]:
idf = pd.DataFrame({'article_id': tfidf.get_feature_names_out(),
                    'idf': tfidf.idf_})

idf

      article_id       idf
0             10  8.888710
1            100  7.907880
2           1000  8.041412
3           1001  8.888710
4           1002  8.888710
...          ...       ...
14776        995  8.377884
14777        996  8.195562
14778        997  8.601027
14779        998  9.294175
14780        999  8.601027

[14781 rows x 2 columns]

In [ ]:
def get_user_embedding_idf(user_articles_list, doc_dict):
    user_articles_list = eval(user_articles_list)
    
    user_vector = np.zeros((len(user_articles_list), N_topic))
    for i, doc_id in enumerate(user_articles_list):
        try:
            weight = idf[idf['article_id'] == str(doc_id)]['idf'].values[0]
        except Exception as e:
            weight = 0
        user_vector[i] = doc_dict[doc_id] * weight

    user_vector = np.median(user_vector, axis=0)
    return user_vector

In [ ]:
from tqdm import tqdm
tqdm.pandas()

user_embeddings = pd.DataFrame([i for i in users['articles'].progress_apply(lambda x: get_user_embedding_idf(x, doc_dict))])
user_embeddings.columns = [f'topic_{i}' for i in range(N_topic)]
user_embeddings['uid'] = users['uid'].values
user_embeddings = user_embeddings[['uid']+[f'topic_{i}' for i in range(N_topic)]]
user_embeddings.head(3)

100%|██████████| 8000/8000 [01:26<00:00, 92.91it/s]

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19
0,u105138,0.143099,0.000000,1.585053,0.249247,0.868486,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.329034,0.000000,0.372301,0.000000,0.092030
1,u108690,0.355507,0.320102,0.076139,1.023276,1.116556,0.174169,0.0,0.0,0.000000,...,0.069169,0.090485,0.000000,0.000000,0.588085,0.108587,0.172616,0.000000,0.082813,0.459386
2,u108339,0.355276,0.334457,0.143884,0.350387,1.795043,0.188489,0.0,0.0,0.063921,...,0.941094,0.000000,0.084813,0.053059,0.000000,0.143779,0.454171,0.000000,0.043664,0.511840

In [ ]:
X = pd.merge(user_embeddings, target, 'left')
X.head(3)

,uid,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,...,topic_11,topic_12,topic_13,topic_14,topic_15,topic_16,topic_17,topic_18,topic_19,churn
0,u105138,0.143099,0.000000,1.585053,0.249247,0.868486,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.329034,0.000000,0.372301,0.000000,0.092030,0
1,u108690,0.355507,0.320102,0.076139,1.023276,1.116556,0.174169,0.0,0.0,0.000000,...,0.090485,0.000000,0.000000,0.588085,0.108587,0.172616,0.000000,0.082813,0.459386,1
2,u108339,0.355276,0.334457,0.143884,0.350387,1.795043,0.188489,0.0,0.0,0.063921,...,0.000000,0.084813,0.053059,0.000000,0.143779,0.454171,0.000000,0.043664,0.511840,1

In [ ]:
# разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(X[[f'topic_{i}' for i in range(N_topic)]], 
                                                    X['churn'], random_state=0)

In [ ]:
model = LogisticRegression()
# обучим 
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# наши прогнозы для тестовой выборки
preds = model.predict_proba(X_test)[:, 1]
preds[:10]

array([0.00661965, 0.00103478, 0.99009739, 0.05747436, 0.01576188,
       0.00516604, 0.06323484, 0.15294411, 0.00358012, 0.00750533])

In [ ]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)
fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.41273503536395373, F-Score=0.832, Precision=0.827, Recall=0.837

In [ ]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.9826292226292226

In [ ]:
metrics_df = metrics_df.append({
    'model': 'idf_median',
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

5. Сформировать на выходе единую таблицу, сравнивающую качество 2/3 разных метода получения эмбедингов пользователей: mean, median, max, idf_mean по метрикам roc_auc, precision, recall, f_score

In [ ]:
metrics_df

         model    thresh   F-Score  Precision    Recall   ROC AUC
0         mean  0.259571  0.667883   0.603960  0.746939  0.937848
1       median  0.259571  0.667883   0.603960  0.746939  0.937848
2       median  0.259571  0.667883   0.603960  0.746939  0.937848
3     __main__  0.259571  0.667883   0.603960  0.746939  0.937848
4     __main__  0.259571  0.667883   0.603960  0.746939  0.937848
5       median  0.259571  0.667883   0.603960  0.746939  0.937848
6       median  0.259571  0.667883   0.603960  0.746939  0.937848
7       median  0.259571  0.667883   0.603960  0.746939  0.937848
8     __main__  0.259571  0.667883   0.603960  0.746939  0.937848
9         amax  0.259571  0.667883   0.603960  0.746939  0.937848
10  idf_median  0.412735  0.831643   0.826613  0.836735  0.982629